.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
p .checkoutProduct__info {
  padding-left: 20px;
}
.checkoutProduct__title {
  font: 17px bold;
}
.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #9c7e31;
  color: #111;
}
